<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>업체명</th>
            <th>도로명주소</th>
            <th>지번주소</th>
            <th>전화번호</th>
            <th>상세정보</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${searchList.getDocuments()}">
            <td th:text="${row.getPlace_name()}"></td>
            <td th:text="${row.getRoad_address_name()}"></td>
            <td th:text="${row.getAddress_name()}"></td>
            <td th:text="${row.getPhone()}"></td>
            <td>
                <a th:text="상세정보" th:href="${row.getPlace_url()}" th:target="_blank"></a>
            </td>
        </tr>
        <tr th:unless="${not #lists.isEmpty(searchList.getDocuments())}">
            <td colspan="5">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
        <th></th>
    </table>
    <div>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li th:each="num : ${#numbers.sequence(searchList.getPagination().getStartPage(), searchList.getPagination().getEndPage())}">
                    <a th:text="${num}" th:href="|javascript:search.searchList('${num}', false)|"></a>
                </li>
            </ul>
        </nav>
    </div>
</html>